{% extends 'base.html.twig' %}

{% block title %}- Réinitialisation du mdp{% endblock %}

		{% block stylesheets %}		
			<style>
            .help-text{
                color: #f5cb55 !important
            }
            </style>
		{% endblock %}
{% block body %}
<div class="bgPage" style='background-image: url({{ asset ('assets/img/bgResetMdp.jpg' ) | imagine_filter('welcome') }})' > 
	<div class="container mt-5 text-center ">
    <h3 class='text-style text-warning'>Réinitialisation de votre mot de passe</h3>
		<div class="row w-75 mx-auto text-white">
            <div class="col text-center ">
            {{form_start (resetPassForm)}}
            {{form_row (resetPassForm.password.first)}}
            {{form_row (resetPassForm.password.second)}}
            <button type="submit" class="btn btn-warning my-2" >Envoyer </button>
            {{form_end (resetPassForm)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

       
