{% extends 'base.html.twig' %}

{% block title %}- Modification de mon mot de passe
{% endblock %}

{% block body %}

<div class="col-md-5 w-50 mx-auto " style='padding-top: 150px; height: 74.1vh'>    
        <div class='text-center text-decoration-underline text-style btext-warning display-5 mb-4'>Modifier mon mot de passe</div>  
        {% include "_partials/_flash.html.twig" %}        
        {{ form_start(form) }}   
        {{ form_row(form.old_password) }}
        {{ form_row(form.new_password) }} 
         <button class="btn btn-outline-warning my-3 w-100 mx-auto text-style " type="submit">Mettre à jour</button>
        </div>
    </div>
    
   {{ form_rest(form) }}
   {{ form_end(form) }}  
  </div>
</div>
{% endblock %}
