{% extends 'base.html.twig' %}

{% block title %}- Profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset ('assets/css/styleProfil.css')}}">
{% endblock %}
{% block body %}
	{# HEADER #}
	{% include "_partials/_flash.html.twig" %}
	<div class="bgPage" style='background-image: url({{ asset ('assets/img/bgProfil.jpg' ) | imagine_filter('welcome') }})'>
		<div class="container text-center  text-dark bg rounded">
			<h1>Profil</h1>
			<h2 class='text-style'>
				Bienvenue dans ton espace personnel</h2>
		</div>
	</div>
	<div class="container mt-4 ">
		<h2 class='text-center text-style'>Mes informations personnelles</h2>
		<div class="col-lg-8 text-center mx-auto">
			<div class="card mb-4 mx-auto bg-dark">
				<div class="card-body">
					<div class="row ">
						<div class="col-sm-4">
							<p class="mb-0 text-style text-white fs-5">Utilisateur</p>
						</div>
						<div class="col-sm-8 ">
							<p class="text-muted mb-0 fs-5 ">{{app.user.firstname}}
								{{app.user.lastname}}</p>
						</div>
					</div>
					<div class="transition my-3"></div>
					<div class="row">
						<div class="col-sm-4">
							<p class="mb-0 text-style  text-white fs-5">Email</p>
						</div>
						<div class="col-sm-8 ">
							<p class="text-muted mb-0 fs-5">{{app.user.email}}</p>
						</div>
					</div>
					<div class="transition my-3"></div>
					<div class="row">
						<div class="col-sm-4">
							<p class="mb-0 text-style  text-white fs-5">Numéro de téléphone</p>
						</div>
						<div class="col-sm-8 ">
							<p class="text-muted mb-0 fs-5">{{app.user.phoneNumber}}</p>
						</div>
					</div>
					<div class="transition my-3 "></div>
					<div class="row">
						<div class="col-sm-4">
							<p class="mb-0 text-style  text-white fs-5">Age</p>
						</div>
						<div class="col-sm-8">
							<p class="text-muted mb-0 fs-5">
								{{ app.user.age }}
								ans
							</p>
						</div>
					</div>
				</div>
			</div>
			<a href="{{ path ('app_modif')}}" class='btn btn-warning mx-auto text-white mb-3 '>Modifier mon mot de passe
			</a>
		</div>
	</div>
	<div class="container">
		<h2 class='text-center text-style'>Mes programmes</h2>
		{% if programmes | length > 0 %}
			{% set key = 0 %}
			<div class="accordion accordion-flush mt-2" id="accordion">
				{% for programme in programmes %}
					{% set key = key + 1 %}
					<div class="accordion-item mt-2 mb-3">
						<h2 class="accordion-header mx-auto">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapses{{key}}" aria-expanded="false" aria-controls="collapses{{key}}">
								<span class="text-decoration-underline">
									Programme</span>
								:
								<span>
									&nbsp;
									{{programme.name}}
								</span>
								<span class='fs-5  fw-2 mx-3'></span>
								<span class='fs-5 text-warning fw-3'></span>
							</button>
						</h2>
						<div id="collapses{{key}}" class="accordion-collapse collapse " data-bs-parent="#accordion">
							<div class="accordion-body">
								{% set exo = 0 %}
								{% set exercicesParJour = {} %}
								<div class="row">
									{% for exercice in programme.exercices %}
										{# code permettant de regrouper les exercices par jour  #}
										{% set jour = exercice.day %}
										{% switch jour %}

											{% case 1 %}
												{% set jour = "Lundi" %}
											{% case 2 %}
												{% set jour = "Mardi" %}
											{% case 3 %}
												{% set jour = "Mercredi" %}
											{% case 4 %}
												{% set jour = "Jeudi" %}
											{% case 5 %}
												{% set jour = "Vendredi" %}
											{% case 6 %}
												{% set jour = "Samedi" %}
										{% endswitch %}

										{% if not exercicesParJour[jour] is defined %}

											{% set exercicesParJour = exercicesParJour|merge({ (jour): [] }) %}

										{% endif %}
										{% set exercicesParJour = exercicesParJour|merge({ (jour): exercicesParJour[jour]|merge([exercice]) }) %}

									{% endfor %}
									{# fin #}
									{% set day = 1000 %}
									{# et ici on boucle sur les tableaux nouvellement créer #}
									{% for jour, exercices in exercicesParJour %}
										<div class="card-block">
											<a class="btn btn-warning col-12 text-white" data-bs-toggle="collapse" href="#collapse{{day}}" role="button">{{jour}}</a>
											<div class="collapse" id="collapse{{day}}">
												{% set day = day + 1 %}
												<div class="row">
													{% set exo = 0 %}
													{% for exercice in exercices %}
														{% set exo = exo + 1 %}
														<div class="col-md-4 text-center mb-3">
															<div class="card">
																<div class="card-block">
																	<h4 class="card-title text-style text-decoration-underline">
																		Exercice n°
																		{{exo}}

																	</h4>
																	<h6 class="card-subtitle text-warning text-style fs-2">{{exercice.exercise.name}}</h6>
																</div>
																<img class="card-img-top img-fluid" src="{{ asset ('uploads/' ~ exercice.exercise.illustration) | imagine_filter('miniature') }}" alt="{{exercice.exercise.name}}">
																<ul class="list-group list-group-flush">
																	<li class="list-group-item">
																		<span class='text-warning text-style text-decoration-underline fs-5'>
																			Nombre de répétition:</span><br>
																		<span class='fs-6 fw-bold '>
																			{{exercice.repetition}}
																		</span>
																	</li>
																	<li class="list-group-item">
																		<span class='text-warning text-style text-decoration-underline fs-5'>
																			Nombre de série :
																		</span><br>
																		<span class='fs-6 fw-bold '>
																			{{exercice.series}}
																		</span>
																	</li>
																	<li class="list-group-item">
																		<span class='text-warning text-style text-decoration-underline fs-5'>
																			Temps de repos:<br>
																			(entre chaques séries)
																		</span><br>
																		<span class='fs-6 fw-bold '>
																			{% if exercice.rest is not null %}

																				{{exercice.rest}}
																				secondes
																			{% endif %}
																		</span>
																	</li>
																</ul>
																<div class="card-block">
																	<a class="btn btn-warning col-md-12 text-white" data-bs-toggle="collapse" href="#collapse{{exo}}" role="button">Plus d'info</a>
																	<div class="collapse" id="collapse{{exo}}">
																		<div class="card card-body fs-4 m-0">
																			{{exercice.exercise.description | raw}}
																			{% if exercice.exercise.video is not null %}
																				<div class="youtube_player" videoID="{{exercice.exercise.video}}" width="100%" height="100%"  title="YouTube video player" frameborder="0" src="https://www.youtube.com/embed/{{exercice.exercise.video}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></div>

																			{% endif %}
																		</div>
																	</div>
																</div>
															</div>
														</div>
														{% if exo % 3 == 0 %}
														</div>
														<div class="row">
														{% endif %}
													{% endfor %}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div></div>{% else %}<p class='text-center fs-4 text-warning'>Vous n'avez pas encore de programme personnalisé</p>{% endif %}</div>{% endblock %}
