{% extends 'base.html.twig' %}

{% block title %}- Cours collectifs
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset ('assets/css/styleCollectifs.css')}}">
{% endblock %}
{% block body %}
	{# HEADER #}
	<div class="bgPage" style='background-image: url({{ asset ('assets/img/bgCoursCollectifs.jpg' ) | imagine_filter('welcome')  }}) '>
		<div class="container text-center text-dark bg rounded">
			<h1 class='text-family'>Cours Collectifs</h1>
			<h2 class='text-style'>Venez vous dépensez avec nous !</h2>
		</div>
	</div>

	{# SLOGAN #}
	<div class="container-fluid-g-0 text-center text-white p-5" style="background :linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%)">
		<div class='display-2  text-style'>
			Forger votre corps. Sculpter votre esprit.</div>
	</div>

	{# PRESENTATION ACTIVITE + IMAGE #}
	<div class="container-fluid g-0 bg-light bg-gradient">
		<div class="row align-items-center g-0">
			<div class="col-md-6">
				<img src="{{asset ('assets/img/coursCollectif.jpg')}}" alt="Image d'un cours collectif" class='img-fluid w-100 '>
			</div>
			<div class="col-md-6 mt-5">
				<p class="text-center fs-4">Chez
					<strong class='text-warning'>Iron Fitness</strong>, nous proposons une large gamme de
					<em>cours collectifs</em>
					pour répondre à tous les niveaux et à toutes les envies.</p>
				<div class="container">
					<div class="row mb-5 text-center">
						<div class="col-md-4  ">
							<div class="card my-2" style="min-height: 50px;">
								<div class="card-body">
									<h4 class="card-title text-danger mb-3">Danse cardio</h4>
									<p class="card-text">Pour une activité cardiovasculaire stimulante et amusante</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="card my-2 " style="min-height: 50px;">
								<div class="card-body">
									<h4 class="card-title text-warning mb-3">Musculation</h4>
									<p class="card-text">Pour développer votre force et votre endurance musculaire</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 " >
							<div class="card my-2 " style="min-height: 50px;">
								<div class="card-body">
									<h4 class="card-title text-success mb-3">Yoga</h4>
									<p class="card-text">Pour améliorer votre souplesse et votre équilibre intérieur</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>Nos instructeurs qualifiés sont là pour vous motiver et vous guider tout au long de votre séance. Nos cours sont conçus pour vous offrir une expérience de groupe dynamique et motivante, tout en vous aidant à atteindre vos objectifs de remise en forme.</p>
						</div>
					</div>
					<div class="row mt-4">
						<div class="col-md-12 ">
							<p class="text-muted">
								<em>N'oubliez pas : un corps sain est un esprit sain !</em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   
   
	{# EXEMPLE DE QUELQUES ACTIVITE #}
	<div class="container-fluid bgActivite">
		<div class="display-1 text-warning text-decoration-underline fst-italic text-center p-3 text-style">Découvrez nos activités</div>
		 <div class="row text-center mx-2 ">
		 {% for activity in activities %}
		 	<div class="col-xxl-4 mx-auto  my-3 col-md-6">
					<a class="card"  >
						<div class="front" style="background-image: url({{ asset ('uploads/' ~ activity.illustration) }}">
						</div>
						<div class="back">
							<div class="card-title text-family text-warning display-6 ">{{activity.title}}</div>
								<div class="row">
									<div class="col-sm-6">
										<p class="card-text text-muted"> <img src="{{asset ('assets/icons/fire-solid.svg')}}" alt="icone calorie" width='15' > {{activity.calories}} calories</p>
									</div>
									<div class="col-sm-6">
										<p class="card-text text-muted"><img src="{{asset ('assets/icons/clock-regular.svg')}}" alt="icone temps" width='15'> {{activity.time}} min</p>
									</div>									
								</div>
								<div class="row">
									<p class='text-center'>{{activity.description | raw }}</p>
								</div>			
							
						</div>
					</a>						
				</div>				
			{% endfor %}
      <span class='d-flex flex-column align-items-center'> {{ knp_pagination_render(activities) }} </span>

			</div>					
		</div>
	</div>
</div>

{% endblock %}	
