{% extends 'base.html.twig' %}

{% block title %}- Inscription {% endblock %}
  {% block stylesheets %}			
			<link rel="stylesheet" href="{{asset ('assets/css/styleRegister.css')}}">
		{% endblock %}

{% block body %}
<div class='bgImgRegister'  style='background-image: url({{ asset ('assets/img/bgRegister.jpg' ) | imagine_filter('welcome') }})' > 
<div class="container text-center text-family test ">
    <div class='display-1 text-warning text-style' >S'inscrire chez {{general[0].nameSite}}</div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-6 d-flex flex-column align-items-center mb-2">
        <div class='text-center text-decoration-underline text-family text-warning display-5 mb-4'>Rappel de votre futur abonnement </div>
            <div class="pricingTable col-md-6 mt-4">
                <div class="pricingTable-header">
                    <i class="fa fa-adjust"></i>
                    <div class="price-value"> {{(general[0].price /100) | number_format(2, ',','.')}}€ /mois <p class='text-muted fs-5'>  pour une souscription d'un an </p> </div>
                </div>
                <h3 class="heading"></h3>
                <div class="pricing-content text-center">
                <div class="transition"></div>
                    <ul>                    
                        <li><b>Horaire étendus</b> <br> 6h/23h 7j/7</li>
                        <li><b>Coaching</b> <br> Programme personnalisé offert</li>
                        <li><b>Cours collectif</b> <br> Accés à l'ensemble des cours en illimité</li>                                     
                    </ul>                    
                </div>
            </div>          
    </div>

    <div class="col-md-5 text-white ">    
        <div class='text-center text-decoration-underline text-family text-warning display-5 mb-4'>Vos coordonnées</div>   
        <div class=" p-5 bgRegis">
        {{ form_start(registerForm) }}   
        <div class="col-md-2">
        {{ form_label(registerForm.sexe) }}
        </div>
        <div class="col-md-10 py-2">
        {{ form_widget(registerForm.sexe)}}    
        </div> <br>

        {{ form_row(registerForm.lastname) }}
        {{ form_row(registerForm.firstname) }}
        {{ form_row(registerForm.birthdayDate) }}        
        {{ form_row(registerForm.email) }}
        {{ form_row(registerForm.phoneNumber) }} 
        
        {{ form_row(registerForm.acceptCgu) }}   
          
                         
        </div>
    </div>
    
    <button class="btn btn-outline-light my-5 col-md-10 mx-auto   fs-2 text-warning text-style" type='submit' >Rejoindre l'aventure {{general[0].nameSite}} </button> 
      
   {{ form_rest(registerForm) }}
   {{ form_end(registerForm) }}  
  </div>
</div>
{% endblock %}
