{% extends 'base.html.twig' %}

{% block title %}- Blog{% endblock %}
{% block stylesheets %}			
			<link rel="stylesheet" href="{{asset ('assets/css/styleBlog.css')}}">
		{% endblock %}
{% block body %}
<div class="bgPage" style="background-image: url({{ asset ('assets/img/bgBlog.jpg' ) | imagine_filter('welcome') }});background-position: top" >
  <div class="container text-center text-dark bg rounded">
      <h1 >Blog</h1>
      <h2 class='text-style'> Découvrez nos dernières nouvelles</h2>
  </div>
</div>
   
    <div class="container "> 
    <div class="display-1 text-family text-warning text-center my-3">Iron Fitness News</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 my-3 ">
      {% for article in articles %}         
        <div class="col text-center ">
          <div class="card shadow-sm h-100">
					<img src="{{ asset ('uploads/' ~ article.illustration) | imagine_filter('miniature') }}" class="card-img-top" alt="{{article.title}}">

            <div class="card-body">
              <div class="fs-4 text-family text-warning">{{article.title}}</div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center my-auto">  
                         
              <small class="text-muted"> {{ article.createdAt|format_datetime('medium', 'none', locale='fr') }}</small>

                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href={{ path ('app_show', { 'slug' : article.slug }) }} >En savoir plus ..</a>                  
                </div>
              </div>
            </div>            
          </div>
          {% endfor %}       
    </div>         
        </div>
        
</div>

{% endblock %}
