{% extends 'base.html.twig' %}

{% block title %}- Blog{% endblock %}
{% block stylesheets %}			
			<link rel="stylesheet" href="{{asset ('assets/css/styleBlog.css')}}">
		{% endblock %}
{% block body %}
<div class="bgPage" style="background-image: url({{ asset ('assets/img/bgBlog.jpg' ) | imagine_filter('welcome') }});background-position: top" >
  <div class="container text-center text-dark bg rounded">
      <h1 >Actualités</h1>
      <h2 class='text-style'> Découvrez nos dernières nouvelles</h2>
  </div>
</div>   
   
<section class="section gray-bg" id="blog">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="section-title">
                            <div  class='text-style text-warning display-1' >Iron Fitness News</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% for article in articles %}  
                    <div class="col-lg-4">
                        <div class="blog-grid">
                            <div class="blog-img">
                                <div class="date">{{ article.createdAt|format_datetime('medium', 'none', locale='fr') }}</div>
                                <a href="#">
                                    <img src="{{ asset ('uploads/' ~ article.illustration) | imagine_filter('miniature') }}"  alt="{{article.title}}" class='img-fluid'>
                                </a>
                            </div>
                            <div class="blog-info text-center">
                                <h5 class='text-style'>{{article.title |capitalize}}</h5>
                                <p>{{article.description |striptags|slice(0, 130) ~ '...'}}</p>
                                <div class="btn-bar">
                                    <a href={{ path ('app_show', { 'slug' : article.slug }) }} class="px-btn-arrow">
                                        <span>Lire la suite</span>
                                        <i class="arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}                                      
                </div>
            </div>
          </div>
        </section>
{% endblock %}
