{% extends 'base.html.twig' %}

{% block title %}- Blog{% endblock %}
{% block stylesheets %}			
			<link rel="stylesheet" href="{{asset ('assets/css/styleBlog.css')}}">
		{% endblock %}
{% block body %}
<div class="bgPage" style="background-image: url({{ asset ('assets/img/bgBlog.jpg' ) | imagine_filter('welcome') }});background-position: top" >
  <div class="container text-center text-dark bg rounded">
      <h1 >Blog</h1>
      <h2 class='text-style'> Découvrez nos dernières nouvelles</h2>
  </div>
</div>
   
    <div class="container "> 
    <div class="display-1 text-family text-warning text-center my-3 text-style">Iron Fitness News</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 my-3 ">
      {% for article in articles %}         
        <div class="col text-center ">
          <div class="card shadow-sm  mb-3">
					<img src="{{ asset ('uploads/' ~ article.illustration) | imagine_filter('miniature') }}" class="card-img-top"  alt="{{article.title}}">

            <div class="card-body">
              <div class="fs-4 text-family text-warning">{{article.title}}</div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center my-auto">  
                         
              <small class="text-muted"> {{ article.createdAt|format_datetime('medium', 'none', locale='fr') }}</small>

                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href={{ path ('app_show', { 'slug' : article.slug }) }} >En savoir plus ..</a>                  
                </div>
              </div>
            </div>            
          </div>
          {% endfor %}       
    </div>         
        </div>
        
</div>


<div class="col-lg-4">
  <div class="blog-grid">
    <div class="blog-img">
      <div class="date">04 FEB</div> <a href="#">
         <img src="https://www.bootdey.com/image/350x280/FFB6C1/000000" title="" alt=""> </a></div>
          <div class="blog-info">
            <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="btn-bar"> <a href="#" class="px-btn-arrow"> <span>Read More</span> <i class="arrow"></i> </a></div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
