{% extends 'base.html.twig' %}

{% block title %}- Blog{% endblock %}
{% block stylesheets %}			
			<link rel="stylesheet" href="{{asset ('assets/css/styleBlog.css')}}">
		{% endblock %}
{% block body %}

 <div class="blocpadding"></div>   
 <div class="container w-75 text-center">

  <img src="{{asset ('uploads/'~article.illustration)| imagine_filter('miniature') }}" alt="{{article.title }}"  class='img-fluid rounded'>
  <h1 class='text-style text-warning '> {{article.title| capitalize }} </h1>

  <div class="container mb-5">{{article.description | raw }}
  </div>
 </div>  

{% endblock %}
