{% extends 'base.html.twig' %}

{% block title %}- Blog{% endblock %}
{% block stylesheets %}			
			<link rel="stylesheet" href="{{asset ('assets/css/styleBlog.css')}}">
		{% endblock %}
{% block body %}

 <div class="container-md w-50 text-center">

  <h1 class='text-style text-warning '> {{article.title| capitalize }} </h1>

  <div class="transition my-2"></div>

  <img src="{{asset ('uploads/'~article.illustration) }}" alt="{{article.title }}"  class='img-fluid rounded'>

  <div class="transition my-2"></div>
  <div class="container-md mb-5">{{article.description | raw }}
  </div>
 </div>  

{% endblock %}
