<p class='display-2'>Bonjour,<p>

<p> {% if sexe == 'M' %} Monsieur {% else %}
            Madame {% endif %} {{nom |capitalize }} {{ prenom |capitalize}}  s'est inscrit.</p> 
 
<p> Âge => {{age}} ans, </p>
<p> Date de naissance  =>  {{dateNaissance}}, </p>
<p> E-mail => {{mail}}, </p>
<p> Numéro de téléphone => {{telephone}} . </p>

<p>Bonne Journée et à bientôt </p>

<p>Votre assistant.</p>
