<h1>Mail de {{mail}}</h1>

<h5>Bonjour,</h5>

<p>{{sexe }} .  {{nom }} {{ prenom}} souhaite s'inscrire </p> 

<p>Vous pouvez le contacter par e-mail : {{mail}}  ou par téléphone {{telephone}}</p>




