<h5>Bonjour,</h5>

<p>{{sexe }} {{nom |capitalize }} {{ prenom |capitalize}} souhaite s'inscrire. </p> 

<p>Vous pouvez le contacter par e-mail : <a href="mailto:{{mail}} "> {{mail}} </a>  ou par téléphone <a href="tel:{{telephone}}">{{telephone}}</a></p>

<p>Bonne Journée </p>

<p>Votre assistant.</p>
