<p class='display-2'>Bonjour,<p>

<p>{{sexe }} {{nom }} {{ prenom}} souhaite bénéficier d'une séance gratuite.   </p> 

<p> Cette personne se présentera à la salle le <strong> {{datePresence |format_datetime('full', 'short', locale='fr') }} . </p> </strong> 

<p>Vous pouvez la contacter par e-mail : <a href="mailto:{{mail}} "> {{mail}} </a>  ou par téléphone <a href="tel:{{telephone}}">{{telephone}}</a></p>

<p>Bonne Journée </p>

<p>Votre assistant.</p>
