<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			IronFitness
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     	integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     	crossorigin=""/> #}
		<link rel="stylesheet" href="{{asset ('assets/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset ('fontawesome/css/all.css')}}">
		{% block stylesheets %}		
			
		{% endblock %}
		<link rel="stylesheet" href="{{asset ('assets/css/styleGeneral.css')}}">

		{% block javascripts %}
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<script src="{{asset ('assets/js/app.js')}}" defer></script>
		{# <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     	integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     	crossorigin=""></script> #}
		{# Permet de récupérer les infos venant du controlleur Home et de la fonction freeSession, utile pour avoir le formulaire sur toutes les pages #}
		
		
		{% endblock %}
	</head>
	<body>	
		{{ render (controller('App\\Controller\\HomeController::addNavBar', {form : 'form' })) }}
		
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}
		<script src="{{asset ('assets/js/bootstrap.min.js')}}"></script>
		<script src="{{asset ('fontawesome/js/all.js')}}"></script>
	</body>
</html>
