<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="UTF-8">
		<title>
			IronFitness
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    
		<script src="{{asset ('tarteaucitron/tarteaucitron.js')}}"></script>		
		<script>
		
       	tarteaucitron.init({
            "privacyUrl": "https://5.135.101.197:8000/cgu", /* URL de la page de la politique de vie privée */

            "hashtag": "#tarteaucitron", /* Ouvrir le panneau contenant ce hashtag */
            "cookieName": "tarteaucitron", /* Nom du Cookie */

            "orientation": "middle", /* Position de la bannière (top - bottom) */
            "showAlertSmall": false, /* Voir la bannière réduite en bas à droite */
            "cookieslist": false, /* Voir la liste des cookies */

            "adblocker": false, /* Voir une alerte si un bloqueur de publicités est détecté */
            "AcceptAllCta": true, /* Voir le bouton accepter tout (quand highPrivacy est à true) */
            "highPrivacy": true, /* Désactiver le consentement automatique */
            "handleBrowserDNTRequest": false, /* Si la protection du suivi du navigateur est activée, tout interdire */

            "removeCredit": false, /* Retirer le lien vers tarteaucitron.js */
            "moreInfoLink": true, /* Afficher le lien "voir plus d'infos" */
            "useExternalCss": false, /* Si false, tarteaucitron.css sera chargé */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Cookie multisite */

            "readmoreLink": "/cookiespolicy" /* Lien vers la page "Lire plus" */
			
        	});
			
			 (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
			(tarteaucitron.job = tarteaucitron.job || []).push('maps_noapi');

		</script>
		{# importation css flatpickr et du théme confetti #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">

		{# importation css bootstrap#}
		<link rel="stylesheet" href="{{asset ('assets/css/bootstrap.min.css')}}">

		{% block stylesheets %}		
			
		{% endblock %}
		{# importation de ma feuille de style perso #}
		<link rel="stylesheet" href="{{asset ('assets/css/styleGeneral.css')}}">

		{% block javascripts %}		
			
   			
		{% endblock %}
		
	</head>
	<body>	
		{# Permet de récupérer les infos venant du controlleur Home et de la fonction addNavbar, utile pour avoir le formulaire sur toutes les pages #}
		{{ render (controller('App\\Controller\\HomeController::addNavBar', {form : 'form' })) }}
		
		{% block body %}{% endblock %}	
		{{ render (controller('App\\Controller\\HomeController::forFooter')) }}
		
		{# Importation du datePicker Seance gratuite , de l'extension fr et du plugin minMax pour gestion horaire	 #}
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>	
		<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
		<script src="{{asset ('assets/js/minMaxPlugin.js')}}"></script>

		{# Importation Jquery pour requête Ajax formulaire séance gratuite #}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		{# importation de mon propres fichier Js pour insertion de code spécifique #}		
		<script src="{{asset ('assets/js/app.js')}}"></script>
		
		{# importation du bootstrap JS #}		
		<script src="{{asset ('assets/js/bootstrap.min.js')}}"></script>
		
		
	</body>
</html>
